.footer{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #ff3e99;
    list-style: none;
 }

 li{
     font-size: 30px;
 }

 .footerInfo{
     margin-top: 50px;
 }
.footerRedes{
    margin-top: 85px;
}